<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <h1>Create Comment</h1>
    <form action="/api/comment" method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="text" name="body" placeholder="Body">
      <input type="submit" value="Create Comment">
    </form>
  </body>
</html>