<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
  <h1>Create Zone</h1>
  <form action="/api/zone" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="zipCodes" placeholder="Zip Codes">
    <input type="submit" value="Create Zone">
  </form>
</body>
</html>